.card {
  display: flex;
  gap: 20px;
  width: 80%;
  border-radius: 6px;
  border: 1px solid white;
  padding: 24px;
  align-items: center;
}

.domainName {
  flex-grow: 1;
  flex-basis: 20%;
}

.time {
  flex-grow: 2;
}

.actions {
  flex-grow: 1;
}

.modalContent {
  padding: 6px 12px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    min-width: 300px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    min-width: 400px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    min-width: 500px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    min-width: 600px;
  }
  
}

.scanResultsData {
  overflow: auto;
}