.input {
  --box-shadow-color: #0000081d;
  border-radius: 0.8rem;
  height: 32px;
  border: 1px solid #00000022;
  padding: 4px 12px;
  transition: all ease-in 0.25s;
  font-size: 18px;

  &:hover {
    box-shadow: 0 0 8px 1px var(--box-shadow-color, #0000081d);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 8px 1px var(--box-shadow-color, #0000081d),
      inset 0 0 2px 1px var(--box-shadow-color, #0000081d);
  }
  &::placeholder {
    font-size: 14px;
  }
  &:focus::placeholder {
    color: transparent;
  }
}